
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #776B5D;
    z-index: 1;
}
.navContainer .img-nav{
    width: 3rem;
}

.list-nav{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-nav li .a-li-nav{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    
}

.list-nav li .a-li-nav::after{
    content: '';
    display: block;
    width: 0;
    height: 0.1rem;
    background-color: #D6C0B3;
    transition: width .5s;
    margin: 0 auto;
    transform-origin: center;
}

.list-nav li .a-li-nav:hover::after{
    width: 100%;
}

.cart-image{
    width: 3rem;
}

.containerMain{
    padding: 1rem;
}

.containerMain .containerProducts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    place-items: center center;
    gap: 2.5rem;
}
.containerMain .containerProducts .card{
    width: 33,3%;
    outline: 3px solid #776B5D;
}

.containerMain .containerProducts .card .card-img{
    width: 100%;
    border-bottom: 3px dashed #4470c4;
}

.containerMain .containerProducts .card .card-body{
    padding: 0.5rem 2rem 0 2rem;
    font-family: "Poppins";
}

.containerMain .containerProducts .card .card-body .card-title{
    font-size: 1.1rem;
    font-weight: 800;
}

.containerMain .containerProducts .card .card-body .card-description{
    font-size: 0.9rem;
}
.containerMain .containerProducts .card .card-body .card-price{
    padding: 1rem 0 0 1rem;
    font-size: 1.5rem;
    color: #776b5D;
    font-weight: 800;
    text-align: center;
}

.containerMain .containerProducts .card .card-footer{
    padding: 1.2rem;
    display: flex;
    justify-content: center;
}

.containerMain .containerProducts .card .card-footer .card-button, .btnGoToCart, .btnContinueShopping{
    padding: 0.8rem;
    width: 80%;
    background-color: #776B5D;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerMain .containerProducts .card .card-footer .card-button:hover , .btnGoToCart:hover, .btnContinueShopping:hover{
    background-color: #a0907d;
}

.containerMainDetail{
    padding: 1rem;
}

.containerMainDetail .containerProductsDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.containerMainDetail .containerProductsDetails .productDetailsTitle p{
    font-size: 1.8rem;
    font-family: "Poppins";
}

.containerMainDetail .containerProductsDetails .productDetailsBody{
    width: 50%;
    display: flex;
    margin: 3rem 0 0 0;
    border: 1rem double #776B5D;
    padding: 1rem;
}


.containerMainDetail .containerProductsDetails .productDetailsBody .detailBodyContainerImg,
.containerMainDetail .containerProductsDetails .productDetailsBody .detailBodyContainerImg .detailBodyImg{
    width: 100%;
}
.containerMainDetail .containerProductsDetails .productDetailsBody .detailBodyContainerData{
    width: 100%;
    padding: 1rem;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerMainDetail .containerProductsDetails .productDetailsBody .detailBodyContainerData .detailBodyDataProducto p{
    font-size: 1.8rem;
}

.containerMainDetail .containerProductsDetails .productDetailsBody .detailBodyContainerData .detailBodyDataProducto .detailBodyPrice{
    color: #776B5D;
    font-weight: 600;
    text-align: center;
}

.containerMainDetail .containerProductsDetails .productDetailsBody .detailBodyContainerData .detailBodyControles{
    width: 100%;
}

.detailBodyStock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.detailBodyStock span{
    align-items: center;
}

.btnRestar, .btnSumar{
    padding: 1rem;
    background-color: #776B5D;
    color: white;
    outline: auto;
    font-size: 0.8rem;
    font-weight: 800;
    transition: background-color 0.5s ease;
}
.btnRestar:hover, .btnSumar:hover, .btnComprar:hover{
    background-color: #a0907d;
}

.detailBodyComprar{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.btnComprar{
    outline: auto;
    padding: 1rem;
    background-color: #776B5D;
    color: white;
}
.shoppingActions{
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.listProductos{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding: 1rem;

}
.cartProductoMain{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cartProductoMain, .cartAcciones{
    padding: 2rem;
}
.containerBtnAcciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.containerBtnAcciones p{
    font-family: "Poppins";
    font-size: 1rem;
}
.btnAcciones{
    padding: 1rem;
    height: 100%;
}
.containerBtnBorrarCarrito{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.btnBorrarCarrito{
    background-color: #dd2241;
    padding: 0.8rem;
    color: white;
    cursor: pointer;
    outline: auto;
    transition: background-color 0.5s ease;
}
.btnBorrarCarrito:hover{
    background-color: #f35771;
}
.btnTerminarCompra, .btnInicio{
    padding: 0.8rem;
    width: 80%;
    background-color: #776B5D;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnTerminarCompra:hover, .btnInicio:hover{
    background-color: #a0907d;
}
.btnInicio{
    width: 10%;
    padding: 1rem;
}
.carritoVacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.carritoVacioDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.carritoVacioDetail h2{
    font-family: "Poppins";
}
.cartProducto{
    display: flex;
    padding: 1rem;
    border: 0.2rem solid #776B5D;
}
.containerImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productoImg{
    width: 50%;
}
.containerDataProducts{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}
.containerDataProducts p{
    font-family: "Poppins";
    font-size: 1rem;
}
.containerBtnEliminar{
    width: 100%;
    margin-top: 1rem;
}
.eliminarProductoCarrito, .btnConfirmar{
    margin-bottom: 1rem;
    outline: auto;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #776B5D;
    color: white;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.eliminarProductoCarrito:hover, .btnConfirmar:hover{
    background-color: #a0907d;
}
.mainContainerCompra{
    display: flex;
    justify-content: center;
    width: 100%;
}
.containerForm{
    padding: 1rem;
    width: 50%;
    text-align: center;
}
.containerForm h4{
    font-family: 'poppins';
}
.formCompra{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.formCompra input{
    width: 20rem;
    padding: 1rem;
    font-size: 1rem;
}

.loader{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartWidget{
    text-decoration: none;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: #776B5D;
}

.container-footer-link{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-footer-link a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}

.container-footer-link a:hover{
    color: #000;
    transform: scale(1.2);
}

.container-footer-name p{
    font-family: "Poppins";
    font-size: 1rem;
    margin: 0;
    color: #fff;
}
